spanning-tree mode rapid-pvst
spanning-tree portfast edge default
spanning-tree portfast edge bpduguard default
{% if 'dist'in group_names %}
{% set sec = vlan_01.values()|rejectattr('root', 'match', inventory_hostname)|list %}
{% set root = vlan_01.values()|selectattr('root', 'match', inventory_hostname)|list %}
spanning-tree vlan {{ root|map(attribute='id')|join_format }} priority 4094
spanning-tree vlan {{ sec|map(attribute='id')|join_format }} priority 8192
{% endif %}
!
