{% set vlans = vlan_01.iteritems() %}
{% for key,value in vlans %}
{% if 'dist' in group_names %}
vlan {{ value.id }}
 name {{ key }}
{% endif %}
{% if inventory_hostname in groups[value.switch] %}
vlan {{ value.id }}
 name {{ key }}
!
{% endif %}
{% endfor %}
